@model Day25524.Models.Student
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Student Details</h2>

<p>
    <strong>ID:</strong> @Model.Id
</p>
<p>
    <strong>Name:</strong> @Model.Name
</p>
<p>
    <strong>Gender:</strong> @Model.gender
</p>
<p>
    <strong>Roll Number:</strong> @Model.session
</p>
<p>
    <strong>Department:</strong> @Model.branch
</p>




